/* Main Css Rules  for Main Elements in The project */
body{
    box-sizing: border-box;
    margin: 0px;

    font-family: 'Open Sans', sans-serif;
    
}



/*  End of Main Css Rules  */

/*  Start navbar */
.navbar .navbar-brand {
    Font-size:30px;
    font-weight: bold
}

.navbar .navbar-brand span{
    color:#7D2424;
    font-size:30px;
}
.navbar span{
    color:#7D2424;
    font-size:30px;
}
.navbar li.active a,
.navbar li:hover a {
    background-color: #7D2424 !important;
} 
.navbar li a {
    cursor:pointer
}
.selected {
    background-color: rgba(0,0,0,0.6)
}


/* Bordered form */
form {

    margin-top: 100px;
    display: none;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
button.login {
    background-color: #7D2424;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button.login:hover {
    opacity: 0.8;

  }  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

  
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button.signupbtn {
  background-color: #7D2424;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button.signupbtn:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #7D2424;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
